<div class="animated fadeIn fast">
	<h1> <i class="fa fa-car"></i> Automóvil</h1>
	<h4>{{ automovil.marca }} {{ automovil.modelo }} {{ automovil.anio | formatoanio }} </h4>
	<hr>
</div>	

<div class="row animated fadeIn fast">
	<form ng-submit="registrarCambiosAutomovil()">
		<div ng-hide="creando">
			Id:
			<br>
			<input type="text" class="form-control" ng-model="automovil.id" readonly="true">
			<br>
		</div>
		
    	Marca:
        <br>
        <select ng-model="idMarca" 
                class="form-control"
                ng-options="marca.id as marca.marca for marca in marcas"
                ng-change="cambiarModelos(idMarca)">
            <option value="">Seleccionar</option>
        </select>
		<br>

        Modelo:
        <br>
        <select ng-model="automovil.idModelo"
                class="form-control"
                ng-disabled="activar"
                ng-options="modelo.id as modelo.modelo for modelo in modelos">
            <option value="">Seleccionar</option>
        </select>
        <br>
		
		Color:
		<br>
		<input type="text"
			   class="form-control" 
			   ng-model="automovil.color" 
			   placeholder="Ingrese Color del automóvil."
			   required>
		<br>

		Precio:
		<br>
		<input type="number"
			   class="form-control" 
			   ng-model="automovil.precio"
			   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
			   min="1" max="9999999999"
			   required>
		<hr>

		<div align="center">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-floppy-o"></i>
				Guardar Cambios
			</button>
			<button type="submit" class="btn btn-danger" ng-hide="creando" ng-click="eliminar()"> 
				<i class="fa fa-trash-o"></i>
				Eliminar Registro
			</button>
			<a href="#/automoviles" class="btn btn-primary">
				Cancelar		
			</a>
		</div>
	</form>
</div>