<div class="animated fadeIn fast">
	<h1> 
		<i class="fa fa-car"></i> Modelos de Automoviles
	</h1>
</div>
<hr>

<div class="row" ng-hide="mostrarSpinner">
	<div align="right">
	    <a href="#/modelo/nuevo" class="btn btn-info">
			<i class="fa fa-plus-circle"> </i>
			Agregar Modelo
		</a>
	</div>
</div>

<br>

<div class="row" >
	<div ng-show="mostrarSpinner">
		<h1 class="loader animated fadeIn fast"></h1>
		<h1 class="text-center animated fadeIn fast">Cargando Información...</h1>
	</div>
	<table class="table table-striped animated fadeIn fast" ng-hide="mostrarSpinner">
		<tr>
			<th class="text-left">
				<a class="puntero" ng-click="columna='id'; reverse = !reverse;">Clave
			</th>
			<th class="text-left">
				<a class="puntero" ng-click="columna='marca'; reverse = !reverse;">Marca
			</th>
			<th class="text-left">
				<a class="puntero" ng-click="columna='modelo'; reverse = !reverse;">Modelo
			</th>
			<th class="text-center">Ver Detalle</th>
		</tr>
		<tr ng-show="modelos.length!=0" 
			ng-repeat="modelo in modelos | filter:busqueda | limitTo:posicion | limitTo:-5 | orderBy:columna:reverse">
			<td> {{ modelo.id }} </td>
			<td> {{ modelo.marca.marca }} </td>
			<td> {{ modelo.modelo }} </td>
			<td align="center">
				<a href="#/modelo/{{ modelo.id }}" class="btn btn-primary">
					<i class="fa fa-info-circle"></i>
				</a>	
			</td>
		</tr>
	</table>
	<hr>
	<div ng-show="modelos.length==0">
       <h2 class="animated fadeIn text-center">No se encontraron registros...</h2>                
    </div>
	
	<div ng-show="modelos.length!=0 && !mostrarSpinner" align="center">
		<button class="btn btn-primary" ng-click="anteriores()">
			<i class="fa fa-chevron-left"></i>
			Anteriores
		</button>	
		<button class="btn btn-primary" ng-click="siguientes()">
			Siguientes
			<i class="fa fa-chevron-right"></i>
		</button>
		<hr>
	</div>
</div>